<div class="container text-center">
  <h2>Quem somos</h2>
  <p>Já pensou em não se preocupar se vai ter pão em casa? E se chegasse uma caixinha com pães e várias coisas gostosas na sua casa?
  Então, é isso que a gente faz :)</p>
</div>